<ion-header>
  <div>
    <ion-item class="profile-item">
      <ion-grid class="profile">
        <ion-row>
          <ion-back-button></ion-back-button>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-row>
              <div class="container">
                <img
                  src="https://meiahora.ig.com.br/_midias/jpg/2019/04/12/dwllqoix0aayewn-10665648.jpg"
                  alt="Avatar"
                  class="profile-picture img"
                />
                <ion-icon
                  class="overlay"
                  [hidden]="isFollowing"
                  (click)="follow()"
                  name="add-circle"
                >
                </ion-icon>
                <ion-icon
                  class="overlay"
                  [hidden]="!isFollowing"
                  (click)="unfollow()"
                  name="checkmark-circle"
                ></ion-icon>
              </div>
            </ion-row>
            <ion-card-title class="profile-name">{{ username }}</ion-card-title>
            <ion-row> </ion-row>
          </ion-col>
        </ion-row>
        <div>
          <ion-button fill="clear" size="small">Seguindo</ion-button>
          <ion-button fill="clear" size="small">Seguidores</ion-button>
        </div>
        <app-video-list [context]="_id" [hidden]="!search"></app-video-list>
      </ion-grid>
    </ion-item>
  </div>
</ion-header>
<ion-item [hidden]="search">
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="destaques">
        <ion-label>Destaques</ion-label>
      </ion-segment-button>
      <ion-segment-button value="indiquei">
        <ion-label>Indiquei</ion-label>
      </ion-segment-button>
      <ion-segment-button value="para ouvir">
        <ion-label>Para Ouvir</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-item>
<ion-content>
  <ion-list [hidden]="search">
    <ion-item *ngFor="let item of viewRecommendations | filtro: type:'type'">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>{{ item.comment }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="start" (click)="toggleSearch()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top"> </ion-fab-list>
  </ion-fab>
</ion-content>
