  <ion-searchbar [(ngModel)]="queryText" (ionInput)="searchEvent($event)"></ion-searchbar>

  <ion-list>
    - <ion-item *ngFor="let item of videos">
      <iframe class="iframe" width="150" height="90" src="https://www.youtube.com/embed/3_52H8bk9WQ"></iframe>
      <div>titulo da musica - nomde </div>
      <rating></rating>
      <ion-button color="success" *ngIf="showButton" (click)="recommend()">Recomendar</ion-button>
   - </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
