.explorar-search {
    --background: #555155;
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

:host {
    ion-content {
        --background: #292529;
        text-align: center;
        --padding-start: 0px;
        --inner-padding-end: 0px;
    }
    ion-list {
        padding-top: 0;
    }
    ion-item {
        --background: #353035;
        text-align: center;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --border-style: #292529;
    }
    ion-header {
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --background: #353035;
        --height: 30%;
    }
}
