.explorar-search {
    --background: #555155;
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

:host {
    ion-content {
        --background: #292529;
        text-align: center;
        --padding-start: 0px;
        --inner-padding-end: 0px;
    }
    ion-list {
        padding-top: 0;
        --padding-top: 0;
    }
    .list-md {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        background: var(--ion-item-background,var(--ion-background-color,#fff));
    }
    ion-item {
        --background: #353035;
        text-align: center;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --border-style: #292529;
    }
    ion-header {
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --background: #353035;
        --height: 30%;
    }
}
