:host {
    ion-tabs {
        background: #353035;
        border: none;
    color: #ffffff;
    }
    ion-tab-bar {
        background: #353035;
    }

    ion-tab-button {
        background: #353035;
    }
}