<ion-content padding center text-center>
  <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item class="input-register">
        <ion-label position="floating">Username</ion-label>
        <ion-input required formControlName="username"></ion-input>
      </ion-item>

      <ion-item class="input-register">
        <ion-label position="floating">Email</ion-label>
        <ion-input required formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="input-register">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required formControlName="password"></ion-input>
      </ion-item>

      <ion-col offset="4">
        <ion-button ion-button expand="full" (click)="register()">Register</ion-button>
      </ion-col>
    </ion-list>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar text-center class="text">
    <ion-title> Already have an account? <ion-text (click)="goLogin()">Login</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-footer>