<ion-header>
</ion-header>

<ion-content>
	<ion-item >
	  	<ion-grid class="profile">
		  <ion-row>
		    <ion-col>
				<ion-avatar>
					<ion-img src="/assets/eg.jpeg"></ion-img>
				</ion-avatar>
		    </ion-col>
		    <ion-col >
		    	<ion-card-title>Pasera</ion-card-title>
		    </ion-col>
		  </ion-row >
			  <ion-row align-items-end> 
				<ion-button color="tertiary" size="small">Seguindo</ion-button>
				<ion-button color="tertiary" size="small">Seguidores</ion-button>
			  </ion-row>
		</ion-grid>

	</ion-item>
	<ion-item>
	<ion-tabs>
	  <ion-tab-bar slot="top">
	    <ion-tab-button tab="feed">
	      <ion-label>Destaques</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="explorar">
	      <ion-label>Para Ouvir</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="estatisticas">
	      <ion-label>Indiquei</ion-label>
	    </ion-tab-button>
	  </ion-tab-bar>

	</ion-tabs>
	</ion-item>
</ion-content>