<ion-header>
	<div>
		<ion-item class="profile-item">
			<ion-grid class="profile">
				<ion-row>
					<ion-icon name="arrow-round-back"></ion-icon>
				</ion-row>
				<ion-row>
					<ion-col>
						<div class="profile-picture img">
							<img src="https://meiahora.ig.com.br/_midias/jpg/2019/04/12/dwllqoix0aayewn-10665648.jpg">
						</div>
						<ion-card-title class="name">Pasera</ion-card-title>
						<ion-card-subtitle class="username">@pasera</ion-card-subtitle>
						<rating [rate]="rate" readonly="true" size="default" (rateChange)="onRateChange($event)">
						</rating>
					</ion-col>
				</ion-row>
				<div>
					<ion-button fill="clear" size="small">Seguindo</ion-button>
					<ion-button fill="clear" size="small">Seguidores</ion-button>
				</div>
				<ion-row>

				</ion-row>
			</ion-grid>

		</ion-item>
	</div>

</ion-header>

<ion-content>
	<ion-item>
		<ion-toolbar>
			<ion-segment (ionChange)="slides.slideTo(segment)" [(ngModel)]="segment">
				<ion-segment-button value="0">
					<ion-label class="name"> Destaques</ion-label>
				</ion-segment-button>
				<ion-segment-button value="1">
					<ion-label class="name">Indiquei</ion-label>
				</ion-segment-button>
				<ion-segment-button value="2">
					<ion-label class="name">Para Ouvir</ion-label>
				</ion-segment-button>
			</ion-segment>
		</ion-toolbar>
	</ion-item>
	<ion-slides #slides (ionSlideWillChange)="segment=''+slides.getActiveIndex()">
		<ion-slide>
			<ion-content>
				<ion-button (click)="toggleInfiniteScroll()" expand="block">
					Toggle Infinite Scroll
				</ion-button>

				<ion-list></ion-list>

				<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
					<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
					</ion-infinite-scroll-content>
				</ion-infinite-scroll>
			</ion-content>
		</ion-slide>
		<ion-slide>
			PAGINA 2
		</ion-slide>
		<ion-slide>
			PAGINA 3
		</ion-slide>
	</ion-slides>


</ion-content>
