<ion-content padding center text-center>
    <ion-title> Listen.me </ion-title>
    <ion-list>
        <ion-item>
            <ion-input placeholder="Username or email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input place-holder="Password" type="password"></ion-input>
        </ion-item>
    </ion-list>
    
    <ion-button ion-button expand="full" (click)="login()"> Log in </ion-button>
    <ion-toolbar text-center class="text">
        <ion-title>Did you forget your login? Click <ion-text (click)="goRemember()"> Here </ion-text> </ion-title>
    </ion-toolbar>
    
    <ion-label>
        Or
    </ion-label>
    <ion-button ion-button expand="full" (click)="loginFacebook()"> Login with Facebook </ion-button>
    <ion-button ion-button expand="full" (click)="loginGoogle()"> Login with Google </ion-button>
        
</ion-content>

<ion-footer>
    <ion-toolbar text-center class="text" >
        <ion-title>Don't you have an account? <ion-text (click)="goRegister()">Sign Up</ion-text> </ion-title>
    </ion-toolbar>
</ion-footer>

  


