:host {
    ion-content {
      --background: #353035;
      text-align: center;
    }

    ion-toolbar {
        --background: #353035;
        color: #ffffff;
        --font-size: 12px !important;
    }

    ion-img {
        height: 70vh;
        width: auto;
        margin: auto;
        display: block;
        width: 200px;
        height: 200px;
    }

    .login {
        margin-top: 10px;
        text-align: center;
        border: none;
        padding: 10px 80px;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        transition: all 0.3s ease-in-out;
        width: 85%;
        height: 35px;
        color: #ffffff;
        --color: #7b3b3b;
        margin: 0px;
        background-color: #d88a8a;

    }

    .loginWithFacebook {
        margin-top: 10px;
        text-align: center;
        border: none;
        padding: 10px 80px;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        transition: all 0.3s ease-in-out;
        width: 85%;
        height: 35px;
        color: #ffffff;
        --color: #7b3b3b;
        margin: 0px;
        background-color: #1714d8;
        margin-bottom: 10px;
    }

    .loginWithGoogle {
        margin-top: 10px;
        text-align: center;
        border: none;
        padding: 10px 80px;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        transition: all 0.3s ease-in-out;
        width: 85%;
        height: 35px;
        color: #ffffff;
        --color: #7b3b3b;
        margin: 0px;
        background-color: #9cc2f3;
        margin-bottom: 10px;
    }

    
    input[type=text], input[type=password]{
        background-color: rgb(87, 80, 80);
        border: none;
        color: #ffffff;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid rgb(87, 80, 80);
        transition: all 0.5s ease-in-out; 
        height: 35px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    h1 {
        color: #ffffff;
        text-align: center;
        font-size: 13px !important;
    }

    .button.disabled {
        filter: Alpha(Opacity=30);
        
        zoom: 1;
        cursor: default !important;
        pointer-events: none;
    }
}