<ion-content class="page-login">

    <form [formGroup]="loginForm" (ngSubmit)="login()">

    <img src="assets/icon/favicon.png" alt="logo">
    <br>
    <br>
    <br>
    
    <input [(ngModel)]="username"
            required formControlName="username"
            type="text"
            placeholder="Username"> 

    <input [(ngModel)]="password"
            required formControlName="password"
            type="password"
            placeholder="Password">

    <button ion-button class="login" [disabled]="!loginForm.valid" (click)="login()" > Login </button>

    <ion-text>
        <h1>Did you forget your login? Click <ion-text (click)="goRemember()"> here </ion-text></h1>
    </ion-text>

    <ion-text>
        <h1>OR</h1>
    </ion-text>

    <button ion-button class="loginWithFacebook" (click)="loginFacebook()"> Login with Facebook </button>
    <button ion-button class="loginWithGoogle" (click)="loginGoogle()"> Login with Google </button>
   
    </form>
</ion-content>
  
<ion-footer>
    <ion-toolbar>
        <ion-text>
            <h1>Don't you have an account? <ion-text (click)="goRegister()">Sign Up</ion-text></h1>
        </ion-text>
    </ion-toolbar>
</ion-footer>
